@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.detail-banner-wrap {
  img {
    @include size(100%, 20.8vw);
    object-fit: cover;
  }
}

.guide-wrap {
  @include padding(2.93vw 4.27vw 13.33vw 4.27vw);

  h2 {
    font-size: 4.8vw;
    font-weight: 700;
    line-height: normal;
    color: #191516;
  }

  .img-wrap {
    margin-top: 2.93vw;
    border-top: 0.27vw solid #F1F1F1;
    padding-top: 2.93vw;

    img {
      @include size(100%)
    }
  }

  .text-wrap {
    margin-top: 8vw;
    font-size: 3.73vw;

    h3 {
      font-weight: 700;
      color: #712732;
    }

    .desc-wrap {
      font-size: 3.2vw;
      margin-top: 2.13vw;

      div {
        font-size: 2.93vw;

        &:not(:first-child){
          margin-top: 0.8vw;
        }

        b {
          margin-right: 0.8vw;
        }

        a {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
