@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.detail-banner-wrap {
    img {
      @include size(100%);
    }
}

.notice-wrap {
  @include flex-box(center, normal);
  @include padding(50px 0 150px);

  .content-wrap {
    @include size(1046px);

    h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
    }

    ul {
      margin-top: 15px;
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;

      li {
        color: #191516;

        a {
          display: block;
          @include padding(15px 0);

          span {
            margin-top: 5px;
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: #888;
          }

          &:hover {
            cursor: pointer;
            font-weight: 700;
          }
        }
      }
    }
  }
}