@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.event-wrap {
  padding: 30px 20px;

  .desc {
    p {
      font-weight: 500;
    }

    span {
      display: block;
      margin-top: 2px;
      font-size: 12px;
      color: #C6C6C6;
    }
  }

  .input-container {
    @include flex-box(center, center, 16px);
    flex-direction: column;
    margin-top: 16px;

    .input-wrap {
      @include size(100%);

      .label {
        font-weight: 500;
      }

      input {
        @include size(100%, 48px);
        @include box-sizing(border-box);
        margin-top: 8px;
        padding: 5px 10px;
        border: 0;
        border-radius: 5px;
        border: 1px solid #DDD;
        font-weight: 500;
      }

      .select-wrap {
        @include flex-box(center, center, 8px);

        select {
          @include size(50%, 48px);
          margin-top: 8px;
          @include box-sizing(border-box);
          @include padding(0 10px);
          border-radius: 5px;
          border: 1px solid #C6C6C6;
          font-weight: 500;

          &:disabled {
            color: #989898;
            background-color: #F1F1F1;
          }
        }
      }
    }
  }

  .btn-wrap {
    margin-top: 40px;

    button {
      @include size(100%, 48px);
      @include box-sizing(border-box);
      display: block;
      background-color: #5317AB;
      color: $white;
      font-weight: 500;
      line-height: 48px;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:disabled {
        background-color: #F1F1F1;
        color: #989898;
        cursor: not-allowed;
      }
    }
  }

  .done {
    .input-container .input-wrap input{
      background-color: $white;
    }

    .input-dep {
      color: #5317AB;
    }
  }
}