@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.schedule-wrap {
  .navigation-wrap {
    ul {
      @include flex-box(normal, center, 1.07vw);
      flex-wrap: nowrap;
      overflow-x: auto;
      -ms-overflow-style: none;
      padding: 5.33vw;

      &::-webkit-scrollbar{
        display:none;
      }

      li {
        flex: 0 0 auto;
        padding: 1.6vw 3.73vw;
        flex-grow: 1;
        border-radius: 1.33vw;
        border: 0.27vw solid #C6C6C6;
        font-size: 3.73vw;
        color: #C6C6C6;
        text-align: center;
        font-weight: 500;
        cursor: pointer;

        &.active {
          border: 0.27vw solid var(--Violet-violet-13, #5317AB);
          font-weight: 800;
          color: #5317AB;
        }
      }
    }

    .calender-wrap {
      .date-wrap {
        @include flex-box(center, center, 4.8vw);
        font-size: 4.27vw;
        font-weight: 700;
        color: #C6C6C6;

        .today-wrap {
          @include flex-box(center, center, 1.33vw);

          .btn-calender {
            @include size(5.87vw, 5.07vw);
            background-image: url('/src/assets/imgs/desktop/common/icon_calender.svg');
          }
        }

        .btn-left {
          @include size(1.87vw, 4.27vw);
          background-image: url('/src/assets/imgs/mobile/common/btn_left.svg');
        }

        .btn-right {
          @include size(1.87vw, 4.27vw);
          background-image: url('/src/assets/imgs/mobile/common/btn_right.svg');
        }

        button {
          padding: 0;
          background-repeat: no-repeat;
          background-color: $white;
          background-size: 100%;
          background-position: center;
          border: 0;
          cursor: pointer;
        }
      }

      .picker-wrap {
        .bg {
          @include size(100%, 100%);
          position: fixed;
          top: 0;
          background-color: $black;
          opacity: 0.15;
        }
      }

      :deep(.date-picker) {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        border: 0;
        border-radius: 2.67vw 2.67vw 0 0;
      }

      :deep(.vc-header button) {
        background-color: $white;
      }

      :deep(.vc-header button) {
        background-color: $white;
      }

      :deep(.vc-dots) {
        position: absolute;
        bottom: 0.53vw;
      }
    }

    .tip-wrap {
      @include flex-box(flex-end, center, 2.13vw);
      padding: 5.33vw;

      .tip {
        @include flex-box(center, center, 1.07vw);
        font-weight: 500;
        font-size: 3.2vw;

        &::before {
          content: "";
          display: block;
          @include size(2.13vw, 2.13vw);
          border-radius: 50%;
        }
      }

      .red:before {
        background-color: #F00;
      }

      .blue:before {
        background-color: $yeonchon;
      }

      .gray:before {
        background-color: #6A6A6A;
      }
    }
  }

  .game-wrap {
    padding: 0 5.33vw 5.33vw;

    .game {
      @include padding(2.13vw 2.67vw);
      border: 0.27vw solid #F6F6F6;
      border-radius: 1.33vw;

      .info {
        @include flex-box(normal, center, 1.07vw);
        font-size: 2.13vw;
        font-weight: 106.67vw;
        color: #989898;
      }

      .match-wrap {
        @include flex-box(center, center, 1.07vw);
        margin-top: 1.07vw;
        font-weight: 500;
        font-size: 2.93vw;

        .red {
          color: #F00;
        }

        .blue {
          color: #0003FF;
        }

        .gray {
          color: #6A6A6A;
        }

        .team {
          @include flex-box(normal, center, 1.07vw);
          min-width: 40vw;

          img {
            @include size(5.33vw, 5.33vw);
          }

          .score {
            font-size: 3.2vw;
          }

          &:first-child {
            justify-content: flex-end;
          }
        }
      }

      &:not(:first-child){
        margin-top: 1.07vw;
      }
    }
  }

  p {
    font-size: 3.2vw;
    font-weight: 700;
    padding: 0 5.33vw;
  }
}