@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.status-wrap {
  .tab-wrap {
    @include flex-box(center, center);

    div {
      @include size(50%, 13.33vw);
      color: #C6C6C6;
      font-size: 4.53vw;
      font-weight: 700;
      text-align: center;
      line-height: 13.33vw;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0; left: 50%;
        height: 0.53vw; width: 0;
        background-color: #C6C6C6;
        transition: width .3s ease-out, left .3s ease-out, background-color .2s;
      }

      &:hover::after,
      &.active::after {
        width: 100%; left: 0;
      }

      &.active {
        color: #5317AB;
        &::after { background-color: #5317AB; }
      }
    }
  }

  .rank-wrap {
    padding: 5.33vw;

    .title-wrap {
      @include flex-box(space-between, baseline);
      font-size: 3.73vw;
      font-weight: 700;

      a {
        color: #C6C6C6;
        font-size: 3.2vw;
        font-weight: 400;
      }
    }

    .date {
      font-size: 2.67vw;
      font-weight: 500;
      color: #C6C6C6;

    }
    .card-wrap {
      margin-top: 2.67vw;
      .card {
        @include size(100%, 10.67vw);
        @include flex-box(space-evenly, center, 2.67vw);
        border-radius: 2.13vw;
        font-weight: 700;
        color: #C6C6C6;
        background-color: #F1F1F1;

        &:not(:first-child) {
          margin-top: 1.07vw;
        }

        .spot {
          @include flex-box(center, center, 0.53vw);
          font-size: 3.73vw;

          span {
            font-size: 2.67vw;
          }
        }

        .team {
          @include flex-box(center, normal);
          flex-direction: column;
          font-size: 2.93vw;
          min-width: 44vw;
          font-weight: 700;

          span {
            font-size: 2.13vw;
            font-weight: 106.67vw;
          }
        }
      }

      .first {
        background-color: #5317AB;
        color: $white;
      }

      .second {
        background-color: #6833B5;
        color: $white;
      }

      .third {
        background-color: #8156C2;
        color: $white;
      }

      .card {
        font-size: 4.8vw;
      }
    }
  }

  .sport-status-wrap {
    .navigation-wrap {
      ul {
        @include flex-box(normal, center, 1.07vw);
        flex-wrap: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;
        padding: 5.33vw;

        &::-webkit-scrollbar{
          display:none;
        }

        li {
          flex: 0 0 auto;
          padding: 1.6vw 3.73vw;
          flex-grow: 1;
          border-radius: 1.33vw;
          border: 0.27vw solid #C6C6C6;
          font-size: 3.73vw;
          color: #C6C6C6;
          text-align: center;
          font-weight: 500;
          cursor: pointer;

          &.active {
            border: 0.27vw solid var(--Violet-violet-13, #5317AB);
            font-weight: 800;
            color: #5317AB;
          }
        }
      }
    }

    .foot-wrap {
      padding: 0 5.33vw 5.33vw;

      .league-wrap {
        .league {
          border: 0.27vw solid #F6F6F6;
          border-radius: 1.07vw;
          overflow: hidden;

          &:not(:first-child) {
            margin-top: 3.2vw;
          }

          table {
            @include size(100%);
            @include box-sizing(border-box);
            text-align: center;
            font-size: 2.93vw;
            font-weight: 500;

            thead {
              tr {
                th:first-child{
                  padding: 2.67vw 0 2.67vw 3.2vw;
                  text-align: left;
                  font-size: 3.73vw;
                  font-weight: 700;
                }

                th:nth-child(n+2) {
                  color: #989898;
                  width: 8vw;
                }

                th {
                  vertical-align: middle;
                }
              }
            }

            tbody {
              color: $white;

              tr {
                background-color: #8156C2;
                color: $white;

                td {
                  padding: 2.67vw 0;
                  vertical-align: middle;

                  &:first-child{
                    padding: 2.67vw 0 2.67vw 1.87vw;
                    text-align: left;
                    width: 29.33vw;
                  }
                }

                &:nth-child(n+3) {
                  background-color: $white;
                  color: #989898;
                }
              }

              .wild {
                background-color: #B297D9;
              }
            }
          }
        }
      }
    }
  }
}