@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.status-wrap {
  .tab-wrap {
    @include flex-box(center, center);

    div {
      @include size(50%, 13.33vw);
      color: #C6C6C6;
      font-size: 4.53vw;
      font-weight: 700;
      text-align: center;
      line-height: 13.33vw;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0; left: 50%;
        height: 0.53vw; width: 0;
        background-color: #C6C6C6;
        transition: width .3s ease-out, left .3s ease-out, background-color .2s;
      }

      &:hover::after,
      &.active::after {
        width: 100%; left: 0;
      }

      &.active {
        color: #5317AB;
        &::after { background-color: #5317AB; }
      }
    }
  }

  .rank-wrap {
    padding: 5.33vw;

    .title-wrap {
      @include flex-box(space-between, baseline);
      font-size: 3.73vw;
      font-weight: 700;

      a {
        color: #C6C6C6;
        font-size: 3.2vw;
        font-weight: 400;
      }
    }

    .date {
      font-size: 2.67vw;
      font-weight: 500;
      color: #C6C6C6;

    }
    .card-wrap {
      margin-top: 2.67vw;
      .card {
        @include size(100%, 10.67vw);
        @include flex-box(space-evenly, center, 2.67vw);
        border-radius: 2.13vw;
        font-weight: 700;
        color: #C6C6C6;
        background-color: #F1F1F1;

        &:not(:first-child) {
          margin-top: 1.07vw;
        }

        .spot {
          @include flex-box(center, center, 0.53vw);
          font-size: 3.73vw;

          span {
            font-size: 2.67vw;
          }
        }

        .team {
          @include flex-box(center, normal);
          flex-direction: column;
          font-size: 2.93vw;
          min-width: 44vw;
          font-weight: 700;

          span {
            font-size: 2.13vw;
            font-weight: 106.67vw;
          }
        }
      }

      .first {
        background-color: #5317AB;
        color: $white;
      }

      .second {
        background-color: #6833B5;
        color: $white;
      }

      .third {
        background-color: #8156C2;
        color: $white;
      }

      .card {
        font-size: 4.8vw;
      }
    }
  }

  .team-wrap {
    @include padding(5.33vw 5.33vw 13.33vw);

    .card-wrap {
      border-bottom: 0.27vw solid #F6F6F6;

      &:not(:first-child) {
        padding-top: 5.33vw;
      }

      h2 {
        font-weight: 700;
      }

      .dep-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3.2vw 0 5.33vw 0;
        gap: 5.33vw 0;

        .dep {
          @include flex-box(center, center, 2.13vw);
          flex-direction: column;

          img {
            @include size(21.33vw, 21.33vw);
          }

          .title {
            text-align: center;
            font-size: 3.73vw;
            letter-spacing: 0.05vw;
            font-weight: 500;
          }
        }
      }

    }
  }
}