@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.yeonchon-detail-banner-wrap {
  img {
    @include size(100%);
  }
}

.sport-wrap {
  @include margin(0 auto);
  @include padding(60px 0 150px);
  @include size(1200px);

  .tab-wrap {
    @include flex-box(center, center);

    div {
      @include size(50%, 30px);
      padding-bottom: 30px;
      position: relative;
      color: #C6C6C6;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: 0; left: 50%;
        height: 3px; width: 0;
        background-color: #C6C6C6;
        transition: width .3s ease-out, left .3s ease-out, background-color .2s;
      }

      &:hover::after,
      &.active::after {
        width: 100%; left: 0;
      }

      &.active {
        color: #5317AB;
        &::after { background-color: #5317AB; }
      }
    }
  }

  .card-wrap {
    padding-top: 60px;

    .card {
      border-radius: 20px;
      border: 1px solid #DDD;

      .top-wrap {
        @include flex-box(space-between, center);
        padding: 20px 30px;

        .logo-wrap {
          @include flex-box(center, center, 19px);
          font-size: 24px;
          font-weight: 500;

          img {
            @include size(52px, 52px);
          }
        }

        a {
          @include size(118px, 46px);
          @include flex-box(center, center, 8px);
          border-radius: 30px;
          background-color: #F1F1F1;
          color: #989898;
          font-weight: 500;

          &::before {
            @include size(24px, 24px);
            content: "";
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/src/assets/imgs/desktop/common/icon_msg.svg');
            background-size: 100%;
          }
        }
      }

      .desc-wrap {
        border-top: 1px solid #DDD;
        padding: 25px 30px;
        font-size: 20px;
        line-height: 30px;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
}