@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

$icons: all, foot, bask, dodg, tow, joku, ping, lol, fc;

.yeonchon-detail-banner-wrap {
  img {
    @include size(100%);
  }
}

.status-wrap {
  @include margin(0 auto);
  @include padding(60px 0 150px);
  @include size(1200px);

  .tab-wrap {
    @include flex-box(center, center);

    div {
      @include size(50%, 30px);
      padding-bottom: 30px;
      position: relative;
      color: #C6C6C6;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: 0; left: 50%;
        height: 3px; width: 0;
        background-color: #C6C6C6;
        transition: width .3s ease-out, left .3s ease-out, background-color .2s;
      }

      &:hover::after,
      &.active::after {
        width: 100%; left: 0;
      }

      &.active {
        color: #5317AB;
        &::after { background-color: #5317AB; }
      }
    }
  }

  .rank-wrap {
    padding-top: 38px;

    .date {
      font-size: 20px;
      color: #C6C6C6;
    }

    .card-wrap {
      margin-top: 30px;

      .card {
        @include size(100%, 110px);
        padding-left: 40px;
        position: relative;
        @include box-sizing(border-box);
        @include flex-box(normal, center);
        background-color:#F6F6F6;
        border-radius: 13px;
        overflow: hidden;
        font-weight: 500;

        &:not(:first-child) {
          margin-top: 25px;
        }

        .spot {
          @include flex-box(normal, center, 2px);
          font-size: 50px;
          min-width: 80px;

          span {
            font-size: 24px;
          }
        }

        .team {
          font-size: 24px;
          min-width: 450px;
          padding-left: 60px;

          span {
            font-size: 18px;
            color: #C6C6C6;
          }
        }

        img {
          position: absolute;
          right: -15px;
          @include size(205px, 205px);
          // transform: translateX(20px);
          opacity: 70%
        }
      }

      .score {
        @include flex-box(center, center, 10px);
        padding-left: 30px;
        font-size: 50px;

        span {
          font-size: 24px;
        }
      }

      .first, .second, .third {
        background-color: #5317AB;
        height: 132px;
        color: $white;

        .spot {
          @include flex-box(center, center);
          font-size: 70px;

          span {
            font-size: 40px;
          }
        }

        .team {
          font-size: 30px;

          span {
            font-size: 20px;
            color: #EDEFF1;
          }
        }

        .score {
          font-size: 80px;

          span {
            font-size: 30px;
          }
        }
      }

      .first {
        height: 180px;
      }

      .second {
        height: 160px;
        background-color: #6833B5;
      }

      .third {
        height: 140px;
        background-color: #8156C2;
      }
    }
  }

  .sport-status-wrap {
    padding-top: 25px;

    .navigation-wrap {
      ul {
        @include flex-box(center, center);

        li {
          @include size(100%, 102px);
          padding-top: 7px;
          @include flex-box(normal, center, 14px);
          flex-grow: 1;
          flex-direction: column;
          position: relative;
          cursor: pointer;

          .title {
            font-weight: 500;
            color: #C6C6C6;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0; left: 50%;
            height: 3px; width: 0;
            background-color: #C6C6C6;
            transition: width .3s ease-out, left .3s ease-out, background-color .2s;
          }

          &:hover::after,
          &.active::after {
            width: 100%; left: 0;
          }

          &.active {
            .title { color: #5317AB; }
            &::after { background-color: #5317AB; }
          }
        }

        @each $name in $icons {
          .#{$name} {
            .icon {
              @include size(52px, 52px);
              background-repeat: no-repeat;
              background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}.svg');
              background-size: 100%;
            }

            &:hover .icon{
              background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}_hover.svg');
            }

            &.active .icon{
              background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}_active.svg');
            }
          }

        }
      }
    }

    .foot-wrap {
      margin-top: 35px;

      .league-wrap {
        @include flex-box(space-between, center);
        flex-wrap: wrap;
        gap: 40px 0;

        .league {
          border: 1px solid #C6C6C6;
          border-radius: 20px;
          overflow: hidden;

          table {
            @include size(588px);
            @include box-sizing(border-box);
            text-align: center;
            font-weight: 500;

            thead {
              tr {
                th:first-child{
                  padding: 15px 0 15px 20px;
                  text-align: left;
                  font-size: 20px;
                }

                th:nth-child(n+2) {
                  width: 50px;
                }

                th {
                  padding: 15px 0;
                  vertical-align: middle;
                }
              }
            }

            tbody {
              color: $white;

              tr {
                background-color: #8156C2;
                color: $white;

                td {
                  padding: 8px 0;
                  vertical-align: middle;

                  &:first-child{
                    width: 67px;
                  }

                  &:nth-child(2) {
                    @include flex-box(normal, center, 10px);
                    img {
                      @include size(39px, 39px);
                      border: 50%;
                    }
                  }

                }

                &:nth-child(n+3) {
                  background-color: $white;
                  color: #989898;
                }
              }

              .wild {
                &:nth-child(3) {
                  background-color: #B297D9;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }

    .bask-wrap {
      padding-top: 110px;

      .match-wrap {
        @include size(100%, 1450px);
        position: relative;
        background-repeat: no-repeat;
        background-image: url('/src/assets/imgs/desktop/common/status_line.svg');
        background-position: center;

        .match {
          @include size(248px, 87px);
          @include flex-box(center, center, 18px);
          position: absolute;
          border-radius: 15.39px;
          background-color: #F1F1F1;
          overflow: hidden;

          .team {
            @include size(50%);
            text-align: right;

            img {
              @include size(87.716px, 87.716px);
              position: absolute;
              top: 0;
              opacity: 40%;
            }

            .score {
              font-size: 25px;
              font-weight: 500;
            }

            .name {
              margin-top: 3px;
              font-size: 10px;
              font-weight: 500;
            }
          }

          .left {
            img {
              left: -40px;
            }
          }

          .right {
            text-align: left;
            img {
              right: -40px;
            }
          }

          .win {
            color: #5317AB;
          }

          .lose {
            color: #989898;
            img {
              filter: grayscale(1);
            }
          }

          .red {
            color: #FF0000;
          }

        }

        .cancel {
          img {
            filter: grayscale(1);
          }
          color: #FF0000;
          .team .name {
            font-size: 12px;
          }

        }

        .one, .two, .three, .four, .eight, .nine, .ten {
          left: 0;
        }

        .five, .six, .seven, .eleven, .twelve, .thirteen {
          right: 0;
        }
        .one, .five {
          top: -40px;
        }
        .two, .six {
          top: 60px;
        }
        .three, .seven {
          top: 260px;
        }
        .four {
          top: 360px;
        }
        .eight, .eleven {
          top: 1000px;
        }
        .nine, .twelve {
          top: 1100px;
        }
        .ten, .thirteen {
          top: 1300px;
        }
      }
    }
  }
}