@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.detail-banner-wrap {
  img {
    @include size(100%, 20.8vw);
    object-fit: cover;
  }
}

.greeting-wrap {
  @include padding(2.93vw 4.27vw 13.33vw 4.27vw);

  h2 {
    font-size: 4.8vw;
    font-weight: 700;
    line-height: normal;
    color: #191516;
  }

  .seokhyeon-wrap {
    margin-top: 2.93vw;
    border-top: 0.27vw solid #F1F1F1;
    padding-top: 1.33vw;

    .img-wrap {
      @include flex-box(normal, flex-end, 3.47vw);

      .photo {
        @include size(29.6vw, 30.4vw);
      }

      p {
        font-size: 3.2vw;
        font-weight: 200;
        line-height: normal;
      }
    }

    .text-wrap {
      margin-top: 3.2vw;
      font-size: 3.6vw;

      .jo {
        margin-top: 3.73vw;
        font-size: 3.2vw;
        font-weight: 200;
        line-height: normal;
        color: #000;
      }
    }
  }
}