@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.main {
  .top-content-wrap {
    img {
      @include size(100%, 64vw);
      object-fit: cover;
    }

  }

  .middle-content-wrap {
    .banner-container {
      .banner-wrap {
        @include size(100%, 32vw);
      }
    }

    .confirm-wrap {
      @include flex-box(center, center);
      flex-direction: column;
      gap: 1.33vw;
      @include padding(4vw 0);

      h2 {
        font-size: 3.73vw;
        font-weight: bold;
      }

      a {
        @include size(26.67vw, 7.47vw);
        font-size: 3.2vw;
        line-height: 7.47vw;
        background: #712732;
        color: #F5F5F5;
        border-radius: 8vw;
        box-shadow: 0.27vw 0.27vw 0.67vw 0vw rgba(0, 0, 0, 0.25);
        text-align: center;
      }
    }
  }
}
