@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

footer {
  background: #F1F1F1;

  .footer-wrap {
    @include flex-box(center, center);
    @include padding(55px 0);
    flex-direction: column;
    color: #989898;

    .logo-wrap {
      @include size(170px, 50px);
    }

    .intro {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
    .info {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
        line-height: 26px;

      .name-wrap {
        display: block;
        margin-top: 10px;
      }
    }
    .copyright {
        margin-top: 20px;
        font-size: 13px;
        line-height: 18px;
    }
  }
}