@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

.main {
  .banner-wrap {
    img {
      @include size(100%, 640px);
      object-fit: cover;
    }

  }

  .middle-content-wrap {
    .banner-container {
      .detail-banner-wrap {
        @include size(100%, 300px);
      }
    }

    .confirm-wrap {
      @include flex-box(center, center);
      flex-direction: column;
      gap: 32px;
      @include padding(65px 0 50px);

      h2 {
        font-size: 32px;
        font-weight: bold;
      }

      a {
        @include size(184px, 48px);
        font-size: 18px;
        line-height: 48px;
        background: #712732;
        color: #F5F5F5;
        border-radius: 30px;
        box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 0.25);
        text-align: center;
      }
    }

    .orientation-register-wrap {
      background: #712732;
      padding-top: 60px;
      text-align: center;

      .register-wrap {
        @include flex-box(center, flex-start, 20px);
        padding: 50px 0;
        background: $white;

        .freshman-wrap, .student-wrap {
          h2 {
            font-size: 32px;
            font-weight: bold;
            letter-spacing: -0.96px;
            color: #712732;
          }

          .form-wrap {
            margin-top: 20px;
            @include flex-box(center, center, 12px);
            flex-direction: column;

            a {
              @include size(570px, 40px);
              @include border(1px solid $black);
              font-size: 14px;
              line-height: 40px;
              box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 0.25);

              b {
                color: #712732;
              }
            }
          }
        }
      }
    }

    .card-wrap {
      @include padding(60px 0);
      @include flex-box(center);
      gap: 20px;

      .notice-wrap, .events-wrap {
        @include size(570px);
        @include padding(23px 25px);
        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: $page-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;

        .title-wrap {
          h3 {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            color: $white;
          }

          a {
            font-size: 14px;
            color: $white;
            position: absolute;
            top: 44px;
            right: 65px;
            text-decoration: underline;
          }
        }

        .table-wrap {
          @include padding(20px 40px);
          margin-top: 23px;
          background: $white;
          border-radius: 24px;
          font-size: 14px;

          table {
            @include size(100%);
            border-collapse: collapse;

            thead {
              tr th {
                @include padding(6px 0);
              }
            }

            tbody {
              tr {
                border-top: 1px solid #F1F1F1;
                cursor: pointer;
                text-align: center;

                td {
                  @include padding(10px 0);
                }

                .title {
                  font-weight: bold;
                }

                .date {
                  text-align: center;
                }
              }
            }
          }

        }
      }
    }
  }
}
