@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

$icons: all, foot, bask, dodg, tow, joku, ping, lol, fc;

.main {
  .yeonchon-banner-wrap {
    img {
      @include size(100%);
    }
  }

  .content-wrap {
    @include size(1200px);
    @include margin(0 auto);
    @include padding(80px 0);

    .today-wrap {
      .title-wrap {
        @include flex-box(space-between, baseline);

        .h2-wrap {
          @include flex-box(center, baseline, 18px);
          h2 {
            font-size: 36px;
            font-weight: bold;
          }

          span {
            font-weight: 500;
            color: #C6C6C6;
          }
        }

        a {
          color: #C6C6C6;
          font-size: 14px;
          font-weight: 500;
          &:hover {
            text-decoration-line: underline;
          }
        }
      }

      .navigation-wrap {
        margin-top: 17px;

        ul {
          @include flex-box(center, center);

          li {
            @include size(100%, 102px);
            padding-top: 7px;
            @include flex-box(normal, center, 14px);
            flex-grow: 1;
            flex-direction: column;
            position: relative;
            cursor: pointer;

            .title {
              font-weight: 500;
              color: #C6C6C6;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: 0; left: 50%;
              height: 3px; width: 0;
              background-color: #C6C6C6;
              transition: width .3s ease-out, left .3s ease-out, background-color .2s;
            }

            &:hover::after,
            &.active::after {
              width: 100%; left: 0;
            }

            &.active {
              .title { color: #5317AB; }
              &::after { background-color: #5317AB; }
            }
          }


          @each $name in $icons {
            .#{$name} {
              .icon {
                @include size(52px, 52px);
                background-repeat: no-repeat;
                background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}.svg');
                background-size: 100%;
              }

              &:hover .icon{
                background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}_hover.svg');
              }

              &.active .icon{
                background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}_active.svg');
              }
            }

          }
        }
      }

      .game-wrap {
        padding-top: 32px;

        .game {
          @include flex-box(space-around, center, 14px);
          @include padding(15px 0);
          border: 1px solid #F6F6F6;
          border-radius: 13px;
          text-align: center;
          font-weight: 500;

          &:not(:first-child){
            margin-top: 15px;
          }

          .sport, .vs, .place {
            color: #C6C6C6;
          }

          .etc {
            color: #F00;
          }

          .match-wrap {
            @include flex-box(center, center, 24px);

            .red {
              color: #F00;
            }

            .blue {
              color: #0003FF;
            }

            .gray {
              color: #6A6A6A;
            }

            .team {
              @include flex-box(normal, center, 15px);
              min-width: 250px;

              img {
                @include size(40px)
              }

              &:first-child {
                justify-content: flex-end;
              }

              &:last-child {
                justify-content: normal;
              }
            }
          }

          .etc {
            width: 60px;
          }
        }
      }
    }

    .result-wrap {
      @include flex-box(space-between, normal);
      padding-top: 80px;

      .ranking-wrap {
        .title-wrap {
          @include flex-box(space-between, baseline);

          .h2-wrap {
            @include flex-box(center, baseline, 18px);
            h2 {
              font-size: 36px;
              font-weight: bold;
            }

            span {
              font-weight: 500;
              color: #C6C6C6;
            }
          }

          a {
            color: #C6C6C6;
            font-size: 14px;
            font-weight: 500;
            &:hover {
              text-decoration-line: underline;
            }
          }
        }

        .card-wrap {
          margin-top: 10px;

          .card {
            @include size(795px);
            padding-left: 30px;
            position: relative;
            @include box-sizing(border-box);
            @include flex-box(normal, center, 30px);
            // @include padding(15px 0);
            border: 1px solid #F6F6F6;
            border-radius: 13px;
            color: $white;
            overflow: hidden;

            &:not(:first-child) {
              margin-top: 6px;
            }

            .spot {
              font-size: 46px;
              font-weight: 500;

              span {
                font-size: 20px;
              }
            }

            .team {
              font-size: 20px;
              min-width: 307px;
            }

            img {
              position: absolute;
              right: -15px;
              @include size(205px, 205px);
              // transform: translateX(20px);
              opacity: 70%
            }
          }

          .first {
            background-color: #5317AB;
            height: 132px;

            .score {
              font-size: 55px;
            }
          }

          .second {
            background-color: #6833B5;
            height: 112px;

            .score {
              font-size: 50px;
            }
          }

          .third {
            background-color: #8156C2;
            height: 92px;

            .score {
              font-size: 46px;
            }
          }
        }
      }

      .recent-wrap {
        .title-wrap {
          @include flex-box(space-between, baseline);

          h2 {
            font-size: 36px;
            font-weight: bold;
          }

          a {
            color: #C6C6C6;
            font-size: 14px;
            font-weight: 500;
            &:hover {
              text-decoration-line: underline;
            }
          }
        }

        .card-wrap {
          @include size(380px);

          .card {
            @include size(380px, 348px);
            display: flex;
            position: relative;
            margin-top: 10px;
            overflow: hidden;

            .sport {
              @include size(52px, 25px);
              border-radius: 0 0 5px 5px;
              background: #C6C6C6;
              box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
              position: absolute;
              left: 50%;
              transform: translate(-50%);
              text-align: center;
              color: $white;
              line-height: 25px;
              z-index: 10;
            }

            .team {
              width: 50%;
              position: relative;

              .info-wrap {
                position: absolute;
                bottom: 33px;
                font-weight: 800;
                color: #6833B5;

                .score {
                  font-size: 48px;
                }

                .team {
                 margin-top: 7px;
                }
              }

              img {
                @include size(240px, 240px);
                position: absolute;
                top: 12px;
              }
            }

            .left {
              .info-wrap {
                right: 12px;
              }

              img {
                left: -80px;
              }
            }

            .right {
              .info-wrap {
                left: 12px;
              }

              img {
                right: -80px;
              }
            }

            .win {
              .info-wrap {
                text-align: right;
              }
            }

            .lose {
              background-color: #F6F6F6;

              img {
                opacity: 40%;
              }

              .info-wrap {
                font-weight: 400;
                color: #C6C6C6;
              }
            }
          }

          .swiper-pagination {
            @include flex-box(center, center, 5px);
            position: absolute;
            left: auto;
            width: auto;
            bottom: 10px;
            right: 20px;

            .swiper-pagination-bullet {
              @include size(8px, 8px)
            }
            .swiper-pagination-bullet-active {
              background: #6A6A6A;
            }
          }
        }
      }
    }
  }
}
