@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

$icons: all, foot, bask, dodg, tow, joku, ping, lol, fc;

.yeonchon-detail-banner-wrap {
  img {
    @include size(100%);
  }
}

.schedule-wrap {
  @include margin(0 auto);
  @include padding(60px 0 150px);
  @include size(1200px);

  .navigation-wrap {
    margin-top: 17px;

    ul {
      @include flex-box(center, center);

      li {
        @include size(100%, 102px);
        padding-top: 7px;
        @include flex-box(normal, center, 14px);
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        cursor: pointer;

        .title {
          font-weight: 500;
          color: #C6C6C6;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0; left: 50%;
          height: 3px; width: 0;
          background-color: #C6C6C6;
          transition: width .3s ease-out, left .3s ease-out, background-color .2s;
        }

        &:hover::after,
        &.active::after {
          width: 100%; left: 0;
        }

        &.active {
          .title { color: #5317AB; }
          &::after { background-color: #5317AB; }
        }
      }

      @each $name in $icons {
        .#{$name} {
          .icon {
            @include size(52px, 52px);
            background-repeat: no-repeat;
            background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}.svg');
            background-size: 100%;
          }

          &:hover .icon{
            background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}_hover.svg');
          }

          &.active .icon{
            background-image: url('/src/assets/imgs/desktop/yeonchon/icon/#{$name}/#{$name}_active.svg');
          }
        }

      }
    }

    .calender-wrap {
      margin-top: 40px;
      position: relative;

      .date-wrap {
        @include flex-box(center, center, 30px);
        font-size: 20px;

        .eve, .next {
          color: #989898;
        }

        .btn-wrap {
          @include flex-box(center, center, 34px);

          .today-wrap {
            @include flex-box(center, center, 12px);
            cursor: pointer;

            .btn-calender {
              @include size(21px, 18px);
              background-image: url('/src/assets/imgs/desktop/common/icon_calender.svg');
            }
          }

          .btn-left {
            @include size(7px, 16px);
            background-image: url('/src/assets/imgs/desktop/common/icon_left.svg');
          }

          .btn-right {
            @include size(7px, 16px);
            background-image: url('/src/assets/imgs/desktop/common/icon_right.svg');
          }

          button {
            padding: 0;
            background-repeat: no-repeat;
            background-color: $white;
            background-size: 100%;
            background-position: center;
            border: 0;
            cursor: pointer;
          }
        }
      }

      :deep(.date-picker) {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%);
      }

      :deep(.vc-header button) {
        background-color: $white;
      }

      :deep(.vc-header button) {
        background-color: $white;
      }

      // :deep(.vc-day-layer), :deep(.vc-day) {
      //   height: 38px
      // }

      :deep(.vc-dots) {
        position: absolute;
        bottom: 2px;
      }
    }

    .option-wrap {
      @include flex-box(space-between, center);
      margin-top: 35px;

      .tip-wrap {
        @include flex-box(center, center, 20px);

        .tip {
          @include flex-box(center, center, 8px);
          font-weight: 500;

          &::before {
            content: "";
            display: block;
            @include size(14px, 14px);
            border-radius: 50%;
          }
        }

        .red:before {
          background-color: #F00;
        }

        .blue:before {
          background-color: $yeonchon;
        }

        .gray:before {
          background-color: #6A6A6A;
        }
      }

      .select-wrap {
        @include flex-box(center, center, 8px);

        select {
          @include size(166px, 32px);
          &:first-child {
            @include size(138px, 32px);
          }
          @include box-sizing(border-box);
          @include padding(0 16px 0 20px);
          border-radius: 10px;
          border: 1px solid #C6C6C6;

          &:disabled {
            color: #989898;
            background-color: #F1F1F1;
          }
        }
      }
    }
  }

  .game-wrap {
    padding-top: 32px;

    .game {
      @include flex-box(space-around, center, 14px);
      @include padding(15px 0);
      border: 1px solid #F6F6F6;
      border-radius: 13px;
      text-align: center;
      font-weight: 500;

      &:not(:first-child){
        margin-top: 15px;
      }

      .sport, .vs, .place {
        color: #C6C6C6;
      }

      .sport {
        min-width: 65px;
      }

      .place {
        min-width: 120px;
      }

      .etc {
        max-width: 1px;
        color: #F00;
      }

      .match-wrap {
        @include flex-box(center, center, 24px);

        .red {
          color: #F00;
        }

        .blue {
          color: $yeonchon;
        }

        .gray {
          color: #6A6A6A;
        }

        .team {
          @include flex-box(normal, center, 15px);
          min-width: 250px;

          img {
            @include size(40px);
          }

          .score {
            font-size: 25px;
          }

          &:first-child {
            justify-content: flex-end;
          }

          &:last-child {
            justify-content: normal;
          }
        }
      }

      .etc {
        width: 60px;
      }
    }

    p {
      margin-top: 70px;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }
  }
}