@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

footer {
  background: $page-color;

  .footer-wrap {
    @include padding(2.4vw 0);
    @include flex-box(center, center);
    flex-direction: column;
    color: #F5F5F5;

    .logo-wrap img {
      @include size(36vw, 10.67vw);
    }

    .intro {
        margin-top: 1.6vw;
        font-size: 2.13vw;
        font-weight: 800;
        letter-spacing: 0.43vw;
    }

    .info {
        margin-top: 1.6vw;
        font-size: 2.13vw;
        text-align: center;
        letter-spacing: -0.06vw;
        line-height: normal;
        font-weight: 400;

        a {
          display: block;
          margin-top: 0.8vw;
          color: $white;
        }
      }

      .copyright {
        margin-top: 1.6vw;
        font-size: 2.13vw;
        line-height: normal;
        letter-spacing: -0.06vw;
    }
  }
}