@import '@/scss/common/helpers/_mixins.scss';
@import '@/scss/common/helpers/_variables.scss';

header {
  background: #F5F5F5;

  .header-wrap {
    @include size(100%, 90px);
    @include flex-box(center, center, 130px);
    word-break: keep-all;

    .logo-wrap {
      img {
        @include size(60px, 60px);
      }
    }

    .menu-wrap {
      ul {
        @include flex-box(center, center, 130px);
        line-height: 30px;

        li {
          @include padding(10px);
          font-size: 19px;

          a {
            font-weight: 700;

            &:hover {
              color: $yeonchon;
            }
          }
        }
      }
    }
  }
}