$page-color: #2e55a5;
$page-sub-color: #5d98e4;

// color
$white: #ffffff;
$black: #000000;
$blue: #3d59b1;
$sky-blue: #f1f6fd;

$gray-200: #222222;
$gray-300: #333333;
$gray-400: #444444;
$gray-600: #666666;
$gray-500: #555555;
$gray-700: #777777;
$gray-800: #888888;
$gray-900: #999999;
$gray-a: #aaaaaa;
$gray-c: #cccccc;
$gray-8a: #8a8a8a;
$gray-ed: #ededed;
$gray-e6: #e6e6e6;
$gray-e8: #e8e8e8;
$gray-fa: #fafafa;
$gray-f0: #f0f0f0;
$gray-f4: #f4f4f4;
$gray-f7: #f7f7f7;
$gray-f8: #f8f8f8;
$gray-f9: #f9f9f9;
$gray-fb: #fbfbfb;
$gray-10: #101010;

//border
$border-color-base: #d8d8d8;

//background
$background-color-base: #f7f7f7;

// font
$font-family-base: Pretendard, 'dotum', sans-serif !important;
$font-size-base: 16px;

//error
$error: #ff0000;
$required: #ff0000;